.here { 
	background: black;
	color: white;
	margin-left: 5px;
	width: 60%;
	padding: 10px;

 }

#titulo {
	font-family: fantasy;
	font-size: 50px;
	color: royalblue;
	align: center;
}

#cola {
	font-family: cursive;
	padding: 5px;

}

.pictura {
	border: 5px solid #555;
	width: 500px;
	height: 450px;
	overflow-y: hidden;
	
}

#universe {
	font-family: cursive;
	font-style: italic;
	color: red;
	text-align: center;

}

#parafo {
	color: black;
	width: 60%;
	background-color: grey;
	padding: 5px;
}